<%= form_for @project_type do |f| %>
  <div class = "row mt-2">
    <div class = "col-md-6">
      <%= f.text_field :name, class:'form-control', placeholder: 'Project Type Name' %>
    </div>
    <div class = "col-md-6">
      <%= f.submit "Save" ,{class:'btn btn-success'} %>
    </div>
  </div>
<% end %>