/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.forbgcolorlogin
{
    background-color: black;
    color: grey;
}

.for-bgcolor-after-login-menu{
    background-color: #331400 !important;
}

.font-hover-menu a:hover
{
    color: white;
}
.dropdown-menu a:hover
{
    color: black;
}
.thumbnil
{
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    height:150px;
    width:150px;
    border-radius: 50%;
    margin-top: 10px; 
}
.table-color-userprofile-project
{
     font-weight: bold; 
}
.table-color-userprofile-project td
{
    padding: 0.30rem;
}
.hide-text
{
    display: none;
}
.show-text
{
    display: block;
}
.red-color
{
    color: red;
}
.get-margin
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-for-user-edit label
{
    text-align: right;
    font-weight: bolder;
}
.font-hover-menu li:last-child
{
    position:absolute;right:20px;
    float:right;
}
.for-a-tag-in-menu
{
    color:white;
}
body
{
    background: #e9e9e9 url(/assets/bg.png) repeat 0 0;
    font: 17px/1.7em 'Open Sans';
}
.formbgcolorlogin
{
    background-color: white;
    border-radius: 6px;
}
.forget-password-font-size
{
    font-size: 11px;
    text-align: center;
    margin-top: 10px;

}